#root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // background: linear-gradient(
  //   180deg,
  //   rgba(255, 255, 255, 0.2) 0%,
  //   rgba(2, 67, 112, 0.2) 100%
  // );
}

.welcome {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(2, 67, 112, 0.5) 100%
  );
  align-items: center;
  justify-content: center;
}

.uploadButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .ant-btn {
    height: 50px;
  }
}

.datatables {
    height: 100%;

  .ant-tabs {
    align-items: center;
  }
}
