.footer {
    display: flex;
    justify-content: flex-end;
  
    .netWeightSum {
      padding-left: 15px;
    }
  
    .quantitySum {
      padding-left: 10%;
    }
  
    .valueInHufSum {
      padding-left: 10%;
    }
  }
  